# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Database
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
build/
.cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
